.main {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    width: 1000px;
    justify-content: center;
    margin: auto;
}

img {
    height: 200px;
}

.flex-images {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}