.main {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    width: 1000px;
    justify-content: center;
    margin: auto;
}

img {
    height: 200px;
}

.first-section {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
}

.second-section {
    display: flex;
    flex-direction: row;
    background-color: red;
    padding: 10px;
    justify-content: space-around;
    margin: 5px;
}

.thered-section {
    display: flex;
    flex-direction: row;
    background-color: brown;
    padding: 10px;
    justify-content: space-between;
    margin: 5px;
}