body {
    width: 1000px;
    margin: auto;
    font-family: cursive;
}

nav {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: x-large;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 3;
}



.profile {
    border: 3px solid black;
    height: 250px;
    width: 190px;
}

.image {
    width: 6rem;
    margin-top: 1rem;
    margin-left: 3rem;
}

.add-avatar {
    text-align: center;
    font-size: x-large;
}

.Name {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: xx-large;
}


.like-container {
    border: 3px solid black;
    width: 500px;
    height: 150px;
    margin-bottom: 1rem;
}

.aw {
    margin-top: 6rem;
}

.row-1 {
    display: flex;
    justify-content: space-evenly;
}

.like-container p {
    font-size: large;
    font-family: cursive;
    margin-left: 20px;
}

.like-container .likeButton {
    background-color: #ffd966;
    box-shadow: 3px 2px 1px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
}

.parg {
    width: 400px;
}