* {
    margin: 0;
    padding: 0;
    width: 970px;
}

.main {
    background-color: rgb(36, 80, 117);
    width: 970px;
    height: 470px;
}

.image-search {
    display: flex;

}

.image-search img {
    position: relative;
    width: 300px;
    left: 30px;
}

.image-search span {
    position: relative;
    left: 440px;
    color: white;
}

.image-search a {
    color: rgb(189, 172, 73);
}


.button-input {
    background-color: #444;
    width: fit-content;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    left: 400px;
}

.image-search input {
    text-align: center;
    color: rgb(217, 173, 173);
    width: 150px;
    height: 30px;
}

.image-search button {
    width: 50px;
    height: 30px;
    background-color: #245075;
    color: white;
    border-radius: 9px;
    border: 1px solid white;
}

.navbar {
    color: white;
    border: 1px solid black;
    width: 900px;
    position: relative;
    left: 20px;
    top: 20px;
    padding: 15px;
    background-color: #437bac;
    border-radius: 10px;
    box-shadow: 2px 3px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.navbar ul {
    display: flex;

}

.navbar li {
    list-style: none;
}

.section-1 .row {
    position: relative;
    top: 40px;
    display: flex;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-1 .col-1 {
    width: 300px;
}

.section-1 .col-1 li {
    list-style: circle;
    margin-top: 7px;
}

.section-1 .col-1 a {
    color: white;
}

.section-1 .col-2 {
    width: 600px;
}

.section-1 .list-container {
    text-align: center;
    margin-top: 20px;
}

.section-1 .col-2 ul {
    list-style: none;
    font-style: italic;
    color: yellow;
    font-size: 18px;
    line-height: 1.5;
}

.section-1 .col-2 p {
    width: 600px;
    color: white;
}

.section-1 .col-2 .zen {
    color: white;
}

.section-2 .row {
    display: flex;

}

.section2 {
    display: flex;
    text-align: center;
    width: 450px;
    border-top: 5px solid blue;
    flex-direction: column;
}

.section-3 a {
    text-decoration: none;
    color: #7ca8cb;
}

.section-2 .col-1 {

    margin-left: 30px;
    margin-right: 15px;
    margin-top: 10px;
}

.header1 {
    width: 450px;
}

.pargr {
    width: 450px;
}

.section-2 li {
    width: 300px;
    margin-left: 100px;
    list-style: disc;
    margin-top: 5px;
}

.section-2 .col-2 {
    margin-right: 15px;
    padding: 10px;
    margin-top: 10px;
}

footer {
    background-color: #2b6190;
    height: 120px;
}

footer .row {
    display: flex;

}

.footer-content {
    margin-top: 50px;
    color: #84bae9;
    font-size: x-large;
    margin-left: 20px;
}

.copy-rigth {
    color: #84bae9;
    position: relative;
    left: 330px;
    top: 10px;
}