.header{
    background-color: black;
    color: aqua;
    padding: 5px;
}
span{
    color: white;
}

.header2{
    background-color: blueviolet;
    text-align: center;
    font-style: italic;
    padding: 5px;
}
.header3{
    text-align: right;
    background-color: lightskyblue;
    padding: 5px;
}

